<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='Gameshop3 - Bienvenido')"></head>
<body>
<div class='container container-app'>
    <div th:replace="fragments/header.html :: header(option='Juegos')"></div>

    <div id="content">
        <main>
            <!-- Contenido -->
            <!-- -->
            <div class="page-header text-center">
                <h2 th:text="${juego.idjuego == null? 'Nuevo Juego' : 'Editar Juego'}"></h2>
            </div>
            <div class="container-fluid">
                <form th:action="@{'/juegos/guardar'}" method="post" th:object="${juego}">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" th:field="*{nombre}"/>

                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" th:field="*{descripcion}"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="idplataforma">Plataforma</label>
                        <select class="form-control custom-select" id="idplataforma" name="idplataforma" >
                            <option th:each="plataforma : ${listaPlataformas}"
                                    th:selected="${juego.plataforma != null and (plataforma.idplataforma == juego.plataforma.getIdplataforma())}"
                                    th:text="|${plataforma.nombre}|"
                                    th:value="${plataforma.idplataforma}"></option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="image">Imagen URL</label>
                        <input type="text" class="form-control" th:field="*{image}" >
                    </div>
                    <div class="form-group">
                        <label>Precio</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">S/</div>
                            </div>
                            <input type="text" class="form-control" th:field="*{precio}" >
                        </div>

                    </div>
                    <input type="hidden" id="idjuego" name="idjuego" value="2" />
                    <a th:href="@{/juegos/lista}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary" th:text="${juego.idjuego == null ? 'Registrar' : 'Editar'}"></button>
                </form>
            </div>
        </main>
    </div>
    <!-- /Contenido -->
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Colocar #4 Grupo - PUCP @ 2021</div>
            </div>
        </div>
    </footer>
</div>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>